.commands-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

.cube {
  width: 200px;
  height: 200px;
  background-color: #e74c3c;
}

.cube-2 {
  margin-left: 10px;
  width: 200px;
  height: 200px;
  background-color: #2ecc71;
}
