.commands-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 20px);
}

.cube {
  width: 200px;
  height: 200px;
  background-color: #e74c3c;
}
