<div class="commands-container">
  <select [(ngModel)]="animation" (ngModelChange)="animate()">
    <option *ngFor="let a of animationsNames" [value]="a">{{ a }}</option>
  </select>
  <button (click)="animate()">Animate</button>
</div>
<div class="container"><div #cube class="cube"></div></div>

<div class="commands-container">
  <button (click)="show = !show">Show/Hide</button>
</div>
<div class="container">
  <div
    *animIf="
      show;
      info: { startAnim: 'bounceIn', endAnim: 'bounceOut', time: 1000 }
    "
    class="cube"
  ></div>
</div>

<div class="commands-container">
  <button (click)="theCube.animate()">
    Animate
  </button>
</div>
<div class="container">
  <div
    #theCube="animated"
    [animAted]="{ time: 300, animation: 'bounceIn' }"
    class="cube"
  ></div>
</div>
